@model Transferencia_Datos.Rol_DTO.Obtener_Rol

@{
    ViewData["Title"] = "DETALLE";
}

<style>
    /* Estilos personalizados */
    .form-container {
        max-width: 550px;
        padding: 20px;
        background-color: #f7f7f7;
        border-radius: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin: auto;
        margin-top: 20px;
    }

        .form-container h1 {
            text-align: center;
            font-size: 28px;
            font-weight: bold;
            color: #333;
            text-transform: uppercase;
        }

        .form-container .row {
            margin-bottom: 10px;
        }

        .form-container label {
            font-weight: bold;
        }

</style>

<div class="form-container">
    <h1>Detalles</h1>

    <div>
        <h5>Datos Del Rol</h5>
        <hr />

        <!-- Fila #1 -->
        <div class="row">

            <div class="col-sm-6">
                <dt>NOMBRE:</dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Nombre)
                </dd>
            </div>

        </div>

    </div>

    <!-- BOTONES -->
    <div>
        <a asp-action="Editar_Rol" asp-route-id="@Model.IdRol" class="btn btn-primary">EDITAR</a> |
        <a asp-action="Roles_Registrados" class="btn btn-secondary">CANCELAR</a>
    </div>

</div>