@model Transferencia_Datos.Empleado_DTO.Editar_Contraseña

@{
    ViewData["Title"] = "Cambiar_Contraseña";
}


<style>
    /* Estilos Para Cuadro */
    .form-container {
        max-width: 330px;
        padding: 20px;
        background-color: #f7f7f7;
        border-radius: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin: auto;
        margin-top: 20px;
    }

        .form-container h1 {
            text-align: center;
            font-size: 28px;
            font-weight: bold;
            color: #333;
            text-transform: uppercase;
        }

        .form-container .row {
            margin-bottom: 5px;
        }

        .form-container label {
            font-weight: bold;
        }

    }
</style>

<div class="form-container">
    <h1>Cambio De Contraseña</h1>

    <hr />
    <form asp-action="Cambiar_Password">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="IdEmpleado" />

        <!-- FILA #1 -->
        <div class="row">

            <div class="form-group col-md-12">
                <label class="control-label">NUEVA CONTRASEÑA:</label>
                <input asp-for="Password" class="form-control" required />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

        </div>

        <!-- BOTONES -->
        <div class="row">

            <div class="form-group">
                <input type="submit" value="GUARDAR" class="btn btn-primary" /> |
                <a asp-action="Perfil" class="btn btn-secondary">CANCELAR</a>
            </div>

        </div>

    </form>

</div>

@section Scripts

{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}