@model Transferencia_Datos.Empleado_DTO.Crear_Empleado

@{
    ViewData["Title"] = "CREAR";
}

<style>
    /* Estilos Para Cuadro */
    .form-container {
        max-width: 600px;
        padding: 20px;
        background-color: #f7f7f7;
        border-radius: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin: auto;
        margin-top: 20px;
    }

        .form-container h1 {
            text-align: center;
            font-size: 28px;
            font-weight: bold;
            color: #333;
            text-transform: uppercase;
        }

        .form-container .row {
            margin-bottom: 10px;
        }

        .form-container label {
            font-weight: bold;
        }

</style>

<!-- CUERPO HTML -->
<div class="form-container">
    <h1>Registro</h1><br />

    <h5>Datos Del Empleado</h5>
    <hr />

    <form asp-action="Registrar_Empleado">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>


        <!-- FILA #1 -->
        <div class="row">

            <div class="form-group col-md-5">
                <label class="control-label">NOMBRE:</label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>

            <div class="form-group col-md-3">
                <label class="control-label">SALARIO:</label>
                <input type="number" asp-for="Salaraio" class="form-control" />
                <span asp-validation-for="Salaraio" class="text-danger"></span>
            </div>

            <div class="form-group col-md-4">
                <label class="control-label">ROL:</label>
                <select asp-for="IdRolEnEmpleado" class="form-control" asp-items="ViewBag.Lista_Roles">
                    <option value="" selected>Seleccionar</option>
                </select>
            </div>
        </div>

        <!-- FILA #2 -->
        <div class="row">

            <div class="form-group col-md-6">
                <label class="control-label">EMAIL:</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group col-md-3">
                <label class="control-label">CONTRASEÑA:</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group col-md-3">
                <label class="control-label">TELEFONO:</label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>

        </div>


        <!-- BOTONES -->
        <div class="row">

            <div class="form-group">
                <input type="submit" value="GUARDAR" class="btn btn-primary" /> |
                <a asp-action="Empleados_Registrados" class="btn btn-secondary">CANCELAR</a>
            </div>

        </div>

    </form>

</div>


@section Scripts

{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}
